<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Deliverables</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 80px;">Name</th>
                        <th style="width: 150px;">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="deliverable : ${deliverables}">

                       
                        <td th:text="${deliverable.name}"></td>
                        <td th:text="${deliverable.weight}"></td>
                    </tr>
                </tbody>
            </table>    


            

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
