<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Add User</h2>
            <p th:text="${message}"></p>
            <form th:object="${user}" action="addUser.html" th:action="@{/users/addUser}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Username</th>
                            <td><input type="text" name="username" th:value="${user.username}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><input type="password" name="password" th:value="${user.password}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>User Type Code</th>
                            <td>
                                <select name="userTypeCode">
                                    <option th:each="theType : ${session.UserTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <!-- Added for Email Address MS -->
                            <th>Email Address</th>
                            <td><input type="text" name="emailAddress" th:value="${user.emailAddress}"/>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Add</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>