<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Deliverables</h2>

            <form th:object="${calculationData}" action="calculate.html" th:action="@{/WebGradeCalculator/calculate.html}" method="get" class="form-horizontal"> 
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 80px;">Name</th>
                            <th style="width: 150px;">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="deliverable,stat : ${deliverables}">

                       
                            <td th:text="${deliverable.name}"></td>
                            <td th:text="${deliverable.weight}"></td>
                            <td><input type="text" name="calculation" th:field="${calculationData.calculationArray[__${stat.index}__]}" th:value="${calculationData.calculationArray[__${stat.index}__]}"/></td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: left;" class="form-actions">
                    <button class="btn btn-primary btn-lg" type="submit">Calculate</button>
                </div>
            </form>

            

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
